body {
  font-family: 'Open Sans', sans-serif;
	color: #2E332F;
	background-color: #FEFDFC;
}

.dropdown {
  position: relative;
  display: inline-block;
  font-family: 'Open Sans', sans-serif;
}

.dropdown-toggle {
  background-color: #1D77EE;
  color: white;
  padding: 8px 24px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
}

.menu-icon {
  font-size: 16px;
	font-weight: 700;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  min-width: 146px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  z-index: 1;
  border-radius: 4px;
  overflow: hidden;
}

.dropdown-menu li {
  list-style: none;
}

.dropdown-menu li a {
  display: block;
  padding: 10px 8px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.dropdown-menu li a:hover {
  background-color: #f0f0f0;
}
